@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
body {
   background-color: rgb(120, 146, 95);
}

h1 {
  color: rgb(234, 241, 227);
 text-align: center; 
}

p {
   font-family: "Pretendard", sans-serif;
  font-size: 40px;
}
